* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #6068a5;
  color: #fff;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.pi-logo {
  height: 200px;
  width: 100%;
  position: sticky;
}

h1 {
  padding: 20px;
  font-weight: bolder;
  font-size: 40px;
}

p{
  font-size: 40px;
  font-style: italic;
  padding: 20px;
}
.container {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}