button {
    width: 250px;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    margin: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a91515;
  }
  
  .clickable {
    background-color: #0000ff;
  }
  
  .restart {
    background-color: #ff6347;
  }