* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* BODY */

body {
	background-color: #fff;
}

/* STICKY NAVBAR*/

header {
	background-color: #fff;
	height: 5em;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	transition: background-color 0.4s ease-in-out;
}

header nav {
	padding: 1.5em 0 1.5em 5em;
}

header nav a {
	text-decoration: none;
	color: #1e1e1e;
	font-size: 1.3em;
	margin: 1em;
	transition: color 0.4s ease-in-out;
}

header.scrolled {
	background-color: #1e1e1e;
	opacity: 0.98;
}

header.scrolled nav a {
	color: #fff;
}

/* PARAGRAPHS*/

div {
	height: 1500px;
	padding: 2em 6em 2em 6em;
}

p {
	font-size: 1.4em;
	color: #1e1e1e;
	padding: 40px;
}